extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  link(href='/css/stylesheet.css', rel='stylesheet')

block body
  +img-responsive("images/Logo.png","The Colenso Project")
  .container
    +navbar("","dropdown_menu")
      +nav_item("/") Home
      +nav_item("/browse","active") Browse
      +nav_item("/search") Search
      +nav_item("/add") Add
  br
  br
  br
  br
  .container
    h1= title
    .container2
    each item in results
        p: a(href="/file?filename=/" + item) !{item}
