extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  link(href='/css/stylesheet.css', rel='stylesheet')

block body
  +img-responsive("images/Logo.png","The Colenso Project")
  .container
    +navbar("","dropdown_menu")
      +nav_item("/","active") Home
      +nav_item("/browse") Browse
      +nav_item("/search") Search
      +nav_item("/add") Add
  br
  br
  br
  br
  .container
    h1= title
    .container
    h2 Use a string
    form(name="form-inline",action="/searchStr",method="get")
      +input("text","search","Enter a string","",name="searchString")
      br
      button(type="submit").btn.btn-success Submit
  .container
    h2 Use An XQuery
    form(name="form-inline",action="/searchXQ",method="get")
      +input("text","search","Enter an XQuery","",name="searchXQ")
      br
      button(type="submit").btn.btn-success Submit

