extends ../node_modules/jade-bootstrap/_bootstrap

append styles
  link(href='/css/stylesheet.css', rel='stylesheet')

block body
  +img-responsive("images/Logo.png","The Colenso Project")
  .container
    +navbar("","dropdown_menu")
      +nav_item("/") Home
      +nav_item("/browse") Browse
      +nav_item("/search","active") Search
      +nav_item("/add") Add
  br
  br
  br
  br
  .container
    h1= title
    .container
      h2 Use a string
      form(name = "formString", action="/searchStr", method="get")
        input(placeholder="Enter string", type="text", name="stringsearch").form-control
        button(type="submit").btn.btn-success Submit
      br
    .container
      h2 Use an xquery
      form(name = "formTags", action="/searchXQ", method="get")
        input(placeholder="Enter XQuery", type="text", name="xquerysearch").form-control
        button(type="submit").btn.btn-success Submit
      br

