/*TODO: CHANGE WHOLE PAGE COLOUR TO #fdfdfd*/

@font-face{
		font-family: Bebas;
		src: url(Bebas.otf);
}

h1{
	text-align: center;
	color: black;
	font-family: Bebas;
	font-size: 60px;
}

h2{
	color: black;
	font-family: Bebas;
	font-size: 40px;
}

body{
	background-image: url("/images/1.jpg")
}

p{
	background-color: #eee;
}

p.text{
	font-family: sans-serif;
	font-size: 15px;
}


footer{
	background-color: #eee;
	width:100%;
	padding-left: 5px;}

nav{
	width:100%;
}
ul{
	width:90%;
}

li{
	text-align: center;
	width:25%;
	font-size: 20px;
}

div.menu{
	text-align: right;
}

.container2{
	background-color: #eee;
}

a.btn-xl.outline{
	background-color: white;
	font-size: 20px;
	padding: 5px;
}

